{% extends 'base.html.twig' %}

{% block body %}
<div>
    De pagina waar de buckaroo settings terecht komen.
</div>

    <form method="POST">
        <input name="name">
        <button type="submit">SEND</button>
    </form>


{% endblock %}